<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
{css file="bootstrap" /}
</head>
<body>
	<div id="tabs-2">
			<form action="__CONTROL__/editPointRule" method="post">
			<table class="table">
				<tr>
					<th width="10%">积分规则查询名</th>
					<td><input type="text" name="opt_name" value="{$rule.opt_name}" /></td>
				</tr>
				<tr>
					<th>积分规则名</th>
					<td><input type="text" name="opt_title" value="{$rule.opt_title}" /></td>
				</tr>
				<tr>
					<th>积分变化</th>
					<td><input type="text" name="operator" value="{$rule.operator}" /></td>
				</tr>
				<tr>
					<th><input type="hidden" name="id" value="{$rule.id}" /></th>
					<td><input type="submit" class="btn btn-primary" value="更新" /></td>
				</tr>
			</table>
		</form>
		</div>
</body>
</html>
