<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{$hd.config.web_name}-Powered by 后盾网</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        {css file="alice" /}
        {css file="__TPL__/css/company-top.css" /}
        {css file="__TPL__/css/company.css" /}
        {js file="jquery" /}
        {js file="jquery.validate" /}
    </head>
    <body>
        <form method="post" action="__CONTROL__/fieldInsert.html">
            <table>
                {foreach from="$field_list" value="$field"}
                <tr>
                    <th>{$field.title}</th>
                    <td>{$field.field}</td>
                </tr>
                {/foreach}
                <tr>
                    <td><input type="submit" value="测试测试" /></td>
                </tr>
            </table>
        </form>
    </body>
</html>