{load file="__TPL__/company/company_top.html" /}
{css file="__TPL__/css/company_account.css" /}
{js file="jquery" /}
{js file="jquery.validate" /}
<div id="content">
    <!--opt-->
    <div id="opt">
        <div id="opt-menu">
            <dl>
                <dt>企业中心</dt>
                <dd><a href="__APP__/company/recruit">招聘管理</a></dd>
                <dd><a href="__APP__/company/isseuRecruit">发布职位</a></dd>
                <dd><a href="__APP__/company/optLog">简历搜索</a></dd>
                <dd><a href="__APP__/company/receiveApply">收到的职位申请</a></dd>
                <dt>企业资料</dt>
                <dd><a href="__APP__/company/data" class="view-data">查看企业资料</a></dd>
                <dd><a href="__APP__/company/optLog" class="">操作日志</a></dd>
                <dt>企业推广</dt>
                <dd><a href="__APP__/company/template.html">企业模板</a></dd>
                <dd><a href="__APP__/company/addSpread/cate/5.html">职位置顶</a></dd>
                <dd><a href="__APP__/company/addSpread/cate/2.html">紧急招聘</a></dd>
                <dd><a href="__APP__/company/addSpread/cate/1.html">推荐职位</a></dd>
                <dd><a href="__APP__/company/addSpread/cate/6.html">职位变色</a></dd>
            </dl>
        </div>
        <!--opt-area-->
        <div id="opt-area">
            <div class="tabs-nav">
                <ul>
                    <li><a href="__CONTROL__/account">营业执照</a></li>
                    <li><a href="__CONTROL__/logo">企业LOGO</a></li>
                    <li><a href="__CONTROL__/proAuth">Email认证</a></li>
                    <li class="tabs-nav-active"><a href="__CONTROL__/password">修改密码</a></li>
                </ul>
                <div class="fn-clear"></div>
            </div>
            <div id="account-set">
                <form action="__METH__" validate="true" method="post">
                <table class="table-form">
                    <tr>
                        <th>旧密码：</th>
                        <td><input type="text" class="required" name="old_pwd" id=""></td>
                    </tr>
                    <tr>
                        <th>新密码：</th>
                        <td><input type="password" class="required" name="pwd" minlength="6" maxlength="20" id="pwd"></td>
                    </tr>
                    <tr>
                        <th>重复密码：</th>
                        <td><input type="password" class="required" equalTo="#pwd" name="re_pwd" id=""></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><button class="btn btn-large">更新</button> </td>
                    </tr>
                </table>
                </form>
            </div>
           
        </div>
        <!--/opt-area-->
    </div>
    <!--/opt--> 
</div>
{include file="__TPL__/footer.html" /}
