<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>职位搜索-{$hd.config.web_name}</title>
{hd_seo /}
{css file="alice" /}
{css file="__TPL__/css/search.css" /}
{css file="__TPL__/css/common.css" /}
{js file="jquery" /}
{css file="__ROOT__/public/js/artDialog/skins/green.css" /}
{js file="__ROOT__/public/js/artDialog/jquery.artDialog.min.js" /}
</head>

<body>
<!--nav--> 

{include file="__TPL__/navigation.html" /}
<!--/nav--> 
<!--条件区域-->
<div id="condition">
<div class="cond-list fn-clear" id="">
<div class="cond-title">关键字：</div>
<div class="cond-switch"> <span id="keyword-area">
  <form method="get" id="search" action="__CONTROL__/">
    <input name="keywords" id="keywords" class="input-word" type="text" onclick="javascript:if(this.value=='输入职位名称、公司名称......'){this.value='';}" {if value="!$_GET.keywords|empty"}value="{$hd.get.keywords}"{else /}value="输入职位名称、公司名称......"{/if}>
    <input class="search-img" type="submit" value=" ">
  </form>
        <script type="text/javascript">
            $('#search').submit(function(){
                if($('#keywords').val()=='输入职位名称、公司名称......'){
                 $('#keywords').val('');   
                }
            });
        </script>
  </span>
  <div id="show_more"> <span class="show_more"><a href="">显示更多搜索条件</a></span> </div>
</div>
</div>
<div class="cond-list fn-clear" id="jobs_ins">
<div class="cond-title">职位行业：</div>
<div class="cond-switch">
  <ul>
    <?php $i=1;?>
    {foreach from="$filterCond.industry" value="$value"}
    {if value="$i==5"}
    <li><span class="show_more"><a href="">更多</a></span></li>
    {/if}
    <li title="{$value.title}"><a {if value="$hd.get.jobs_industry|isset && $hd.get.jobs_industry==$value.laid"}class="cond-checked"{/if} href="<?php echo url_remove_param('jobs_industry');?>/jobs_industry/{$value.laid}.html">{$value.title}</a></li>
    <?php $i++;?>
    {/foreach}
    <li><span class="show_less"><a href="">收起</a></span></li>
  </ul>
</div>
</div>
<div class="cond-list fn-clear">
<div class="cond-title">地区：</div>
<div class="cond-switch">
    <ul>
        <?php $i=1;?>
    {foreach from="$filterCond.address" value="$value"}
    {if value="$i==5"}
    <li><span class="show_more"><a href="">更多</a></span></li>
    {/if}
    <li><a {if value="$hd.get.address|isset && $hd.get.address==$value.id"}class="cond-checked"{/if} href="<?php echo url_remove_param('address');?>/address/{$value.id}">{$value.name}</a></li>
    <?php $i++;?>
    {/foreach}
    <li><span class="show_less"><a href="">收起</a></span></li>
    </ul>
</div>
</div>
{if value="$hd.get.address|isset"}
<div class="cond-list fn-clear">
<div class="cond-title">地区子类：</div>
<div class="cond-switch">
    <ul>
        <?php $i=1;?>
    {foreach from="$filterCond.sonAddress" value="$value"}
    {if value="$i==5"}
    <li><span class="show_more"><a href="">更多</a></span></li>
    {/if}
    <li><a {if value="$hd.get.city|isset && $hd.get.city==$value.id"}class="cond-checked"{/if} href="<?php echo url_remove_param('city');?>/city/{$value.id}.html">{$value.name}</a></li>
    <?php $i++;?>
    {/foreach}
    <li><span class="show_less"><a href="">收起</a></span></li>
    </ul>
</div>
</div>
{/if}
<div class="cond-list fn-clear">
<div class="cond-title">更新：</div>
<div class="cond-switch">
    <ul>
        <li><a href="<?php echo url_remove_param('refresh_date');?>/refresh_date/3.html" {if value="$hd.get.refresh_date|isset && $hd.get.refresh_date==3"}class="cond-checked"{/if}>3天内</a></li>
        <li><a href="<?php echo url_remove_param('refresh_date');?>/refresh_date/10.html" {if value="$hd.get.refresh_date|isset && $hd.get.refresh_date==10"}class="cond-checked"{/if}>10天内</a></li>
        <li><a href="<?php echo url_remove_param('refresh_date');?>/refresh_date/15.html" {if value="$hd.get.refresh_date|isset && $hd.get.refresh_date==15"}class="cond-checked"{/if}>15天内</a></li>
        <li><a href="<?php echo url_remove_param('refresh_date');?>/refresh_date/30.html" {if value="$hd.get.refresh_date|isset && $hd.get.refresh_date==30"}class="cond-checked"{/if}>30天内</a></li>
    </ul>
</div>
</div>
<!--隐藏条件区域-->
<div class="hide-cond">
{foreach from="$switchs" key="$key" value="$swicth"}
  <div class="cond-list fn-clear">
    <div class="cond-title">{$swicth.title}：</div>
    <div class="cond-switch">
        <ul>
        {foreach from="$swicth.switch" key="$switch_k" value="$switch_v"}
        <li><a href="{$key|url_remove_param}/{$key}/{$switch_k}" {if value="$hd.get.$key|isset && $hd.get.$key==$switch_k"}class="cond-checked"{/if}>{$switch_v}</a></li>
        {/foreach}
        </ul>
    </div>
  </div>
{/foreach}
  <div class="cond-list fn-clear">
<div class="cond-title">职位分类：</div>
<div class="cond-switch">
    <ul>
        <?php $i=1;?>
    {foreach from="$filterCond.jobClass" value="$value"}
    {if value="$i==5"}
    <li><span class="show_more"><a href="">更多</a></span></li>
    {/if}
    <li><a {if value="$hd.get.class|isset && $hd.get.class==$value.laid"}class="cond-checked"{/if} href="<?php echo url_remove_param('class');?>/class/{$value.laid}">{$value.title}</a></li>
    <?php $i++;?>
    {/foreach}
    <li><span class="show_less"><a href="">收起</a></span></li>
    </ul>
</div>
</div>
{if value="$hd.get.class|isset"}
<div class="cond-list fn-clear">
<div class="cond-title">分类子类：</div>
<div class="cond-switch">
    <ul>
        <?php $i=1;?>
    {foreach from="$filterCond.sonJobClass" value="$value"}
    {if value="$i==5"}
    <li><span class="show_more"><a href="">更多</a></span></li>
    {/if}
    <li><a {if value="$hd.get.class_two|isset && $hd.get.class_two==$value.laid"}class="cond-checked"{/if} href="<?php echo url_remove_param('class_two');?>/class_two/{$value.laid}.html">{$value.title}</a></li>
    <?php $i++;?>
    {/foreach}
    <li><span class="show_less"><a href="">收起</a></span></li>
    </ul>
</div>
</div>
{/if}
</div>
<!--/隐藏条件区域-->
</div>
<!--/条件区域-->
<div id="now-cond"><span>当前搜索条件：</span>{foreach from="$_GET" key="$key" value="$value"}{if value="$switchs.$key|isset"}<a href="{$key|url_remove_param}">{$switchs.$key.switch.$value}<em>X</em></a>{/if}{/foreach}{if value="$hd.get.update|isset"}<a href="<?php echo url_remove_param('update');?>">{$hd.get.update}天内<em>X</em></a>{/if}</div>
<div id="lists">
<div id="list-nav">
    <div id="view-way">
        <span class="fn-left">查看方式：</span>
        <a href="" class="list-info">详细</a>
        <a href="" class="list">列表</a>
    </div>
    <!--<div id="total-list">符合当前条件的共有<span>{$jobs|count}</span>个职位</div>-->
</div>
<div id="list">
<table>
<tr class="list-head">
	<th class="check-fav"></th>
	<th>职位名称</th>
	<th>公司名称</th>
	<th>工作地点</th>
	<th>经验要求</th>
	<th class="update-date">更新日期</th>
</tr>
    <!--遍历推广职位-->
    {foreach from="$spreads" value="$spread"}
    <tr class="jobs-simple">
	<td><label><input type="checkbox" name="recruit_id[]" value="{$spread.recruit_id}" /></label></td>
    <td>{if value="$spread.cate_id==5"}
        <a class="job-title" href="__CONTROL__/jobs/id/{$spread.recruit_id}.html" target="_blank">{$spread.recruit_name}</a> <img src="__TPL__/images/ding.gif" alt="" /> 
        {elseif value="$spread.cate_id==2"}
        <a class="job-title" href="__CONTROL__/jobs/id/{$spread.recruit_id}.html" target="_blank">{$spread.recruit_name|str_ireplace:$keywords,$keywords_replace,@@}</a> <img src="__TPL__/images/ji_.gif" alt="" /> 
        {elseif value="$spread.cate_id==6"}
        <a class="job-title" style="color: {$spread.color}" href="__CONTROL__/jobs/id/{$spread.recruit_id}.html" target="_blank">{$spread.recruit_name}</a>
        {else /}<a class="job-title" href="__CONTROL__/jobs/id/{$spread.recruit_id}.html" target="_blank">{$spread.recruit_name}</a>{/if}</td>
	<td c_id="{$spread.uid}"><a href="__APP__/index/company/id/{$spread.uid}.html" target="_blank" class="job-company">{$spread.company_name}</a></td>
	<td>{$spread.address}</td>
	<td>{$spread.work_exp}</td>
	<td>{$spread.refresh_date|date:'Y-m-d',@@}</td>
</tr>
<tr class="job-info">
	<td></td>
	<td colspan="4">
        <div class="company-info">
        <span>公司性质：{$spread.company_property}</span>
        <span>公司规模：{$spread.company_scope}</span>
        <span>学历要求：{$spread.degree}</span>
        <span>月薪：{$spread.salary}</span>
        </div>
        <div class="jobs-desc">
        {$spread.seo_desc|str_ireplace:$keywords,$keywords_replace,@@}……
        </div>
    </td>
    <td class="apply-button">
    <a href="{$spread.recruit_id}"><img src="__TPL__/images/list_36.gif" alt="" /></a>
    </td>
</tr>
    {/foreach}
    
    <!--/遍历推广职位-->
    <!--遍历普通职位-->
    {foreach from="$jobs" value="$job"}
    <tr class="jobs-simple">
	<td><label><input type="checkbox" name="recruit_id[]" value="{$job.recruit_id}"/></label></td>
    <td><a class="job-title" href="__CONTROL__/jobs/id/{$job.recruit_id}.html" target="_blank">{$job.recruit_name|str_ireplace:$keywords,$keywords_replace,@@}</a></td>
	<td c_id="{$job.uid}"><a href="__APP__/index/company/id/{$job.uid}.html" target="_blank" class="job-company">{$job.company_name}</a></td>
	<td>{$job.address}</td>
	<td>{$job.work_exp}</td>
	<td>{$job.refresh_date|date:'Y-m-d',@@}</td>
</tr>
<tr class="job-info">
	<td></td>
	<td colspan="4">
        <div class="company-info">
        <span>公司性质：{$job.company_property}</span>
        <span>公司规模：{$job.company_scope}</span>
        <span>学历要求：{$job.degree}</span>
        <span>月薪：{$job.salary}</span>
        </div>
        <div class="jobs-desc">
        {$job.seo_desc|str_ireplace:$keywords,$keywords_replace,@@}……
        </div>
    </td>
    <td class="apply-button">
    <a href="{$job.recruit_id}"><img src="__TPL__/images/list_36.gif" alt="" /></a>
    </td>
</tr>
    {/foreach}
    <!--/遍历普通职位-->
<tr class="list-footer">
    <td colspan="3">
        <div class="select-all"><label id="select-button" for="select-all"><input type="checkbox" name="" id="select-all" />全选</label></div>
        <div class="tool">
            <a href="" id="apply" class="apply" type="apply">申请选中职位</a>
            <a href="" id="favorite" class="favorite" type="favorite">收藏选中职位</a>
        </div>
    </td>
    <td colspan="3"><div class="page-list">{$page}</div></td>
</tr>
</table>
</div>

</div>
<style type="text/css">
.d-content select{
    width:130px;
    background:none;
    height:25px;
    border:1px #B7B7B7 solid;
}
</style>
<script type="text/javascript">
var url='__WEB__',
    app='__APP__';
</script>
<script type="text/javascript" src="__TPL__/js/search.js"></script>

</body>

</html>


