#spread{
    background: #FFF;
    overflow: hidden;
}
#spread a{
    color: #FA5E08;
    font-size: 14px;
}
#spread .data-title{
    height: 28px;
    line-height: 28px;
    padding-left:10px;
    color: #555;
    border-bottom: 1px solid #CCCCFF;
    font-weight:bold;
    font-size: 14px;
}
#tpl-list{
    margin: 0px auto;
}
.tpl-list-one{
    float: left;
    border-left:  1px #CCCCFF dashed;
    border-bottom: 1px #CCCCFF dashed;
    margin-left:-1px;
    margin-top:10px;
    padding: 10px 22px;
    width:230px;
    margin-bottom: 10px;
}
.tpl-list-one table{
    width:230px;
    text-align:center;
}
.tpl-list-one table label{                       
    height: 24px;
    padding:2px;
}
#save{
    width: 200px;
    margin:10px auto;
    clear: both;
}