<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
{css file="bootstrap" /}
{css file="jqueryUI.bootstrap" /}
{css file="__TPL__/css/public.css" /}
{js file="jquery" /}
{js file="__TPL__/js/public.js" /}
{js file="jqueryUI" /}
{js file="jquery.validate" /}
{js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
</head>
<body>