{include file="__TPL__/profile/public.html" /}
{js file="jquery.validate" /}
{js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
<div id="ui-opt-area">
    <div class="tabs-nav">
        <ul>
            <li><a href="__CONTROL__/info">基本资料</a></li>
            <li><a href="__CONTROL__/avatars">个人头像</a></li>
            <li><a href="__CONTROL__/proAuth">邮箱验证</a></li>
            <li class="tabs-nav-active"><a href="__CONTROL__/password">修改密码</a></li>
        </ul>
        <div class="fn-clear"></div>
    </div>
    <div id="new-resume">
        <form action="__METH__" method="post" validate="true">
        <table class="table-form" >
            <tr>
                <th>原密码：</th>
                <td><input type="text" name="old_pwd" validate="{required:true}"></td>
            </tr>
            <tr>
                <th>新密码：</th>
                <td><input type="password" name="password" validate="{required:true}" id="pwd"></td>
            </tr>
            <tr>
                <th>重复密码：</th>
                <td><input type="password" name="re_password" validate="{required:true,equalTo:'#pwd'}"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="确认" class="btn btn-green" style="width:120px;"/></td>
            </tr>
        </table>
        </form>
    </div>
</div>
</div>
</div>
{include file="__TPL__/footer.html" /}