<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理员登录</title>
    {css file="bootstrap" /}
    {css file="__TPL__/css/login.css" /}
    </head>
    <body>
        <div id="header">
        <a class="brand" href="http://www.houdunwang.com">后盾求职招聘系统.<span class="slogan">www.houdunwang.com</span></a>
        </div>
    <div class="container-fluid">

        <div class="loginContainer" id="login-panel">
            <form method="post" action="__METH__" id="loginForm" >
                <table>
                    <tr>
                        <th><span class="login-input"><label for="name">用户名：</label></span></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="input-xlarge" tabindex="1" name="name" id="name" /></td>
                    </tr>
                    <tr>
                        <th><span class="login-input"><label for="pwd">密码：</label><a href="">忘记密码？</a></span> </th>
                    </tr>
                    <tr>
                        <td><input type="password" class="input-xlarge" tabindex="2" name="pwd" id="pwd" /></td>
                    </tr>
                    {if value="$show_captcha"}
                    <tr>
                        <th><span class="login-input"><label for="code">验证码：</label></span></th>
                    </tr>
                    <tr>
                        <td class="code">
                            <input type="text" class="input-mini" tabindex="3" name="code" id="code" />
                            <img src="__WEB__/index/auth/validateCode.html" onclick="javascript:this.src='__WEB__/index/auth/validateCode?next='+Math.random();return false;">
                        </td>
                    </tr>
                    {/if}
                </table>
                <div id="login">
                    <label for="remember"><input type="checkbox" name="remember" id="remember" />记住我</label>
                    <button type="submit" tabindex="3" class="btn btn-info"><i class="icon-edit icon-white"></i>&nbsp;&nbsp;登录</button>
                </div>
            </form>
        </div>

    </div>
    {jquery /}
    <script type="text/javascript">
    $('#loginForm').submit(function(){
        if($('#name').val()==''){
            alert('请输入用户名！');
            return false;
        }
        if($('#pwd').val()==''){
            alert('请输入密码！');
            return false;
        }
        if($('#code').val()==''){
            alert('请输入验证码！');
            return false;
        }
    });
     window.onload=function(){(window.onresize=function(){

            //获取可见高度
            var _h=document.documentElement.clientHeight,
            _n_h=$('#login-panel').height();
            var _login_top=(_h-_n_h-100)/2;
            $('#login-panel').animate({'margin-top':_login_top+'px'},'slow');
        })()};
        $('#name').focus();
    </script>
    </body>
</html>
